<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Spacetree - Tree Animation</title>

<!-- CSS Files -->
<link type="text/css" href="css/index.css" rel="stylesheet" />
<link type="text/css" href="css/tree.css" rel="stylesheet" />

 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

 <<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>

<!--[if IE]><script language="javascript" type="text/javascript" src="js/canvas.js"></script><![endif]-->

<!-- JIT Library File -->
<script language="javascript" type="text/javascript" src="js/jit.js"></script>

<!-- Tree File -->
<script language="javascript" type="text/javascript" src="js/tree.js"></script>
</head>

<body onload="init();">
<div id="container">

<div id="left-container">



<div class="text">
<h4>
Tree of Life
</h4>
            Welcome to Tree of Life! This is a data visualization app that allows you to click through the Tree of Life starting at the single celled organism.<br /><br />
            A static JSON Tree structure is used as input for this animation.<br /><br />
            <b>Click</b> on a node to select it.<br /><br />

</div>

<div id="id-list"></div>


</div>

<div id="center-container">
    <div id="infovis"></div>
</div>

<div id="right-container">

<h4>Wikipedia Page</h4>

</div>

<div id="log"></div>
</div>
</body>
</html>
